* {
    padding:0;
    margin:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    outline:none;
    font-family:Raleway, sana-serif;
}


/* Vendor prefixes */

/* 

-webkit- 
-moz- 
-o- 

*/

/* Vendor prefixes */


/* Start Loader */
.load {
    background-color:#4a484b;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
}

.load .loading {
    width:50px;
    height:50px;
    background-color:#11749e;
    margin-left:auto;
    margin-right: auto;
    margin-top:250px;
    animation:load 1s linear alternate infinite;
}

@keyframes load {
    to {
        transform:rotate(360deg);
    }
}


/* End Loader */


/* Start Navbar */

.up {
    position:fixed;
    bottom:20px;
    right:20px;
    padding:8px 13px;
    border:none;
    background-color:#11749e;
    color:#FFF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
    border-radius:50%;
    font-weight:bold;
    z-index:2;
    display:none;
    transition:all .2s linear;
}

.up:hover {
    background:#222;
}

.navbar-slider {
    height:100vh;
    background:url('https://i.imgur.com/hfnQ5YE.jpg') center center no-repeat;
    background-size:cover;
    overflow:hidden;
}

.navbar-slider .opacity {
    background-color:rgba(0, 0, 0, 0.685);
    height:100vh;
    overflow:hidden;
}



nav .logo a {
    display:block;
    height:38px;
    width:38px;
    background-color:#11749e;
    color:#FFF;
    font-weight: bold;
    font-size:17px;
    text-align:center;
    line-height:40px;
    -webkit-box-shadow:7.5px 5px 0px #dcd8d5;
    -moz-box-shadow:7.5px 5px 0px #dcd8d5;
    -o-box-shadow:7.5px 5px 0px #dcd8d5;
    box-shadow:7.5px 5px 0px #dcd8d5;
    margin-top:5px;
    text-decoration:none;
    float:left;
}

nav {
    margin-top:10px;
    border-bottom:1px solid rgba(187, 187, 187, 0.295);
    height:62px;
}

nav ul {
    float:left;
    margin-left:100px;
    width:70%;
}

nav ul li  {
    float:left;
    list-style:none;
    margin-top:20px;
}


nav ul li a {
    padding:20px 0;
    margin:20px;
    color:#FFF;
    font-weight: bold;
    text-decoration:none;
}

nav ul li a:hover {
    text-decoration:none;
    color:#FFF;
    border-bottom:4px solid #11749e;
}

nav .nav-icons {
    margin-top:20px;
}

nav .nav-icons a {
    margin:10px;
    color:#FFF;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    transition:all .2s linear;
}

nav .nav-icons a:hover {
    color:#11749e;
}

nav button {
    float:right;
    margin-top:-30px;
    margin-right:20px;
    padding:5px 15px;
    background:none;
    color:#FFF;
    border:none;
}

/* End Navbar */


/* Start Popup-nav */
.popup-nav {
    background-color:rgba(0, 0, 0, 0.782);
    min-height:calc(100vh - 0px);
    position:fixed;
    right:0;
    left:0px;
    top:0;
    z-index:3;
    display:none;
}



.popup-nav button {
    font-size:15px;
    margin:20px;
    float:right;
    background:none;
    color:#FFF;
    border-radius:50%;
    padding:2.5px 5px;
    border:none;
    width:20px;
    float:right;
}

.popup-nav ul {
    background:#11749e;
    float:left;
    min-height:calc(100vh - 0px);
    width:200px;
    transition:all .5s linear;
}

.popup-nav ul li {
    list-style:none;
    margin-top:35px;    
}


.popup-nav ul li:first-of-type {
    margin-top:70px;
}

.popup-nav ul li a {
    border-radius:50px;
    padding:10px;
    font-size:15px;
    text-decoration:none;
    color:#FFF;
    font-weight: bolder;
    transition:all .2s linear;
    margin-left:10px;
}





@media (min-width:992px) {
    .popup-nav ul {
        width:300px;
    }
}

.popup-nav section {
    margin-top:35px;
}

.popupnav-logos {
    margin-top:100px;
    margin-left:10px;
    color:#222;
    cursor:pointer;
    width:30px;
    height:30px;
    padding:8px;
    text-align:center;
    border-radius:50%;
    background-color:#FFF;
    transition:all .2s linear;
}

.popupnav-logos:hover {
    background-color:#222;
    color:#FFF;
}


/* End Popup-nav */


/* Start Slider */

.slider {
    text-align:center;
    color:#FFF;
}

.slider-holder {
    margin-right:70px;
    opacity:0;
    -webkit-transition:all 1s linear;
    -moz-transition:all 1s linear; 
    -o-transition:all 1s linear; 
    transition:all 1s linear;
}

.slider h1 {
    color:#FFF;
    text-align:center;
    font-family:Arial;
    font-weight: bold;
    font-size:80px;
    margin-top: 200px;
}

.slider button {
    border:2px solid #FFF;
    color:#FFF;
    background:none;
    width:30px;
    height:30px;
    border-radius:50%;
    margin:10px auto;
    display: block;
    animation:slider-button .5s linear alternate infinite;
}

@media (max-width:480px) {
    .slider h1 {
        margin-top: 100px;
        font-size:45px;
    }
} 

@media (min-width:481px) and (max-width:992px) {
    .slider h1 {
        margin-top: 120px;
        font-size:60px;
    }
} 


@keyframes slider-button {
    to {
        transform: translateY(8px);
    }
}



/* End Slider */


/* Start Features */
.feat {
    background-color:#11749e;
    color:#FFF;
    overflow:hidden;
}

.feat section {
    margin-bottom:110px;
}

.feat h1 {
    font-size:140px;
    font-weight: bold;
    font-family:Arial;
    color:rgba(204, 204, 204, 0.268);
    position:relative;
}


.feat h2 {
    position: absolute;
    bottom:-110px;
    left:0;
    right:0;
    font-weight:bold;
}

.feat article {
    background:rgba(204, 204, 204, 0.309);
    width:80px;
    height:80px;
    margin:10px auto;
    border-radius:50%;
    line-height: 80px;
    font-size:30px;
}



.feat section p {
    font-size:13px;
    margin-top:20px;
}

/* End features */


/* Start Desktop */
.desktop {
    overflow:hidden;
}


.desktop section {
    height:300px;
}

.desktop section article {
    margin-top:30px;
    font-size:12px;
    color:#EEE;
}

.desktop section p {
    font-size:13px;
    color:#EEE;
    line-height:23px;
    margin-top:35px;
    font-weight: 600;
}

.desktop section h2 {
    font-weight:bold;
}

.desktop section:first-of-type {
    background-color:#fff;
    color:#222;
}

.desktop section:first-of-type P,
.desktop section:first-of-type article {
    color:#222;
}

.desktop section:nth-of-type(2) {
    background:url('https://imgur.com/SRwzCdL.jpg') center center no-repeat;
    background-size:cover;
    float:right;
}

.desktop section:nth-of-type(3) {
    background-color:#222;
    color:#FFF;
    float:right;
}

.desktop section:nth-of-type(3) p,
.desktop section:nth-of-type(3) article {
    color:#FFF;
}


.desktop section:nth-of-type(4) {
    background:url('https://imgur.com/WBQKIIW.jpg') center center no-repeat;
    background-size:cover;
    float:left;
}


/* End Desktop */

/* Start Blog */

.blog {
    background-color:#FFF;
    overflow:hidden;
}

.blog h1 {
    font-size:140px;
    font-weight: bold;
    font-family:Arial;
    color:rgba(204, 204, 204, 0.467);
    position:relative;
}


.blog h2 {
    position: absolute;
    left:0;
    right:0;
    margin-top:-110px;
    color:#222;
    font-weight: bold;
}


.blog p {
    font-weight:bold;
    color:#666;
    font-size:20px;
    margin-bottom:40px;
}

.blog section article {
    height:200px;
}

.blog section h4 {
    color:#11749e;
    font-weight: bold;
}

.blog section p {
    font-weight:bold;
    font-size:12px;
    margin-bottom:50px;
}

.blog section:nth-of-type(1) article {
    background:url('https://imgur.com/e5s6Ix2.jpg') center center no-repeat;
    background-size:cover;
    height:200px;
}

.blog section:nth-of-type(2) article  {
    background:url('https://imgur.com/75viYgT.jpg') center center no-repeat;
    background-size:cover;
    height:200px;
}

.blog section:nth-of-type(3) article {
    background:url('https://imgur.com/LnwNZkk.jpg') center center no-repeat;
    background-size:cover;
    height:200px;
}

.blog section:nth-of-type(4) article  {
    background:url('https://imgur.com/ciMQHl0.jpg') center center no-repeat;
    background-size:cover;
    height:200px;
}




/* End Blog */


/* Start info */
.info {
    background-color:#11749e;
    color:#FFF;
    padding:80px 10px;
}


.info section {
    margin-top:20px;
}

.info p {
    float:left;
    width:80%;
    font-size:12px;
    font-weight: bold;
    color:#DDD;
    margin-left:10px;
}

.info i {
    font-size:50px;
    display:block;
    float:left;
}

/* End info */


/* Start skills */
.skills {
    background:url('../imgs/skills.jpg') center center no-repeat;
    background-size:cover;
    color:#FFF;
    overflow:hidden;
}

.skills .container-fluid {
    background-color:rgba(0, 0, 0, 0.851);
}

.skills section h2 {
    font-weight:bold;
    margin-top: 70px;
    margin-left:50px;
}

.skills section p {
    color:#CCC;
    font-size:12px;
    font-weight:bold;
    margin-top:50px;
    margin-left:50px;
    line-height:25px;
}


.skills section img {
    height:450px;
    width:450px;
    margin-top:50px;
    float:right;
    margin-bottom:50px;
}

.skills article {
    padding:7px 5px;
    margin-left:50px;
    margin-top:20px;
    background-color:#11749e;
    color:#FFF;
    font-weight:bold;
}

.skills article:nth-of-type(1) {
    width:80%;
}


.skills article:nth-of-type(2) {
    width:83%;
}

.skills article:nth-of-type(3) {
    width:86%;
    margin-bottom:50px;
}



/* End Skills */


/* Start Our Team */

.team {
    background-color:#FFF;
    overflow:hidden;
}



.team h1 {
    font-size:140px;
    font-weight: bold;
    font-family:Arial;
    color:rgba(204, 204, 204, 0.467);
    position:relative;
}


.team h2 {
    position: absolute;
    left:0;
    right:0;
    margin-top:-110px;
    color:#222;
    font-weight: bold;
}


.team p {
    font-weight:bold;
    color:#666;
    font-size:20px;
    margin-bottom:40px;
}

.team section article {
    background-color:rgba(51, 51, 51, 0.501);
    height:400px;
    transition:all .3s linear;
    cursor:pointer;
}

.team section article:hover {
    opacity:0;
}

.team section div {
    height:300px;
    overflow:hidden;
}

.team section:nth-of-type(1) div {
    background:url('https://imgur.com/t7azo8F.jpg') center center no-repeat;
    background-size:cover;
}

.team section:nth-of-type(2) div{
    background:url('https://imgur.com/wIYqh8v.jpg') center center no-repeat;
    background-size:cover;
}

.team section:nth-of-type(3) div {
    background:url('https://imgur.com/mtI2U0v.jpg') center center no-repeat;
    background-size:cover;
}

.team section:nth-of-type(4) div {
    background:url('https://imgur.com/d57wnxy.jpg') center center no-repeat;
    background-size:cover;
}


.team-content-holder {
    margin-top:-64px;
    margin-right:100px;
    background-color:#11749e;
    color:#FFF;
    opacity:0;
    transition:all .3s linear;
}

.team-content-holder h3 {
    margin-bottom:0px;
    font-weight: bold;
}

.team-content-holder p {
    color:#DDD;
    font-weight: normal;
    font-size:13px;
}



/* End Our Team */


/* Start Contact us */
.contact {
    background:url('https://imgur.com/sQw0iFm.jpg') center center no-repeat;
    background-size:cover;
    overflow:hidden;
}

.contact .container-fluid {
    background-color:rgba(0, 0, 0, 0.851);
}

.contact h1 {
    font-size:140px;
    font-weight: bold;
    font-family:Arial;
    color:rgba(204, 204, 204, 0.467);
    position:relative;
}


.contact h2 {
    position: absolute;
    left:0;
    right:0;
    margin-top:-110px;
    color:#FFF;
    font-weight: bold;
}

.contact form input {
    width:200px;
    margin:20px;
    padding:8px 0px;
    background:none;
    border:2px solid #CCC;
    color:#FFF;
}

::placeholder {
    color:#FFF;
}

.contact form input:last-of-type {
    width:90%;
    padding:50px 10px;
    text-align:center;
    margin-bottom:30px;
}

/* End Contact us */


/* Start Footer */
footer {
    background-color:#222;
    color:#FFF;
    font-weight:bold;
    padding:10px 0;
    text-align:center;
}


/* End Footer */